.office-layout {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 1fr;

  @media (max-width: $mobile) {
    display: flex;
    justify-content: center;
  }

  &__container {
    width: 100%;
    max-width: max(100%, 860px);
    margin: 0 auto;

    @media (max-width: $mobile) {
      width: unset;
      min-width: min(100%, 500px);
    }
  }

  &__container-title {
    text-align: left;
  }
}
