.workspace-layout{
  margin-top: 64px;
  overflow-x: hidden;

  &__content {
    min-height: calc(100dvh - 64px);
    padding: 25px 10px 0 10px;
  }

  @media (max-width: $mobile) {
    &__content {
      padding: 15px 25px 70px 25px;
    }
  }
}
