.landing {
  height: 100vh;
  background-image: url(/main-page-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__title {
    width: 100%;
    height: 100%;
  }

  &__title-text {
    line-height: normal;
  }
}
